<h1>HI Router</h1>
<h3>Users routes globl</h3>
<ul>
  <li>
    <a routerLink='logina'>Login</a>
  </li>
  <li>
    <a routerLink='signupa'>Signup</a>
  </li>
</ul>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perferendis ipsam nam doloremque assumenda laboriosam minima! Praesentium cumque voluptatibus, sint cum natus a dolore ad earum soluta temporibus nobis porro.</p>
<h3>Admin Pages</h3>
<ul>
  <li>
    <a routerLink='admin/login'>AdminLogin</a>
  </li>
  <li>
    <a routerLink='admin/list'>AdminList</a>
  </li>
</ul>
<h3>User Pages</h3>
<ul>
  <li>
    <a routerLink='user/login'>UserLogin</a>
  </li>
  <li>
    <a routerLink='user/list'>UserList</a>
  </li>
</ul>
<router-outlet></router-outlet>

<!-- Lasy loading -->